@font-face {
    font-family: 'Prasia';
    src: url('../font/WarsOfPrasia.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arpona';
    src: url('../font/Arpona-Bold.woff2') format('woff2'),
        url('../font/Arpona-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arpona';
    src: url('../font/Arpona-Regular.woff2') format('woff2'),
        url('../font/Arpona-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Strong Sword';
    src: url('../font/StrongSword-Bold.woff2') format('woff2'),
        url('../font/StrongSword-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Strong Sword';
    src: url('../font/StrongSword-Regular.woff2') format('woff2'),
        url('../font/StrongSword-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}