@media (max-width: 768px) {

    .un_files {
        &Pc {
            display: none;
        }

        &Mobile {
            display: block;
        }
    }
    .un_nav {

        #navMobile {
            &:checked ~ {
                .un_navWrapper {
                    left: 0;
                    opacity: 1;
                }

                .un_navMobile {
                    div {
                        span {
                            transform: translateX(3rem);
                            opacity: 0;
                        }

                        &::before {
                            top: 0.5rem;
                            transform: rotate(45deg);
                        }

                        &::after {
                            transform: rotate(-45deg);
                            top: 0.5rem;
                        }
                    }
                }
            }
        }
        &Mobile {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;

            div {
                width: 1.5rem;
                height: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                span {
                    display: flex;
                    width: 100%;
                    height: 0.15rem;
                    transition: .3s;
                    background-color: white;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 1.05rem;
                    width: 100%;
                    height: 0.15rem;
                    transition: .3s;
                    background-color: white;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 100%;
                    transition: .3s;
                    height: 0.15rem;
                    background-color: white;
                }
            }
        }

        &Wrapper {
            position: fixed;
            top: 4rem;
            left: -20rem;
            opacity: 0;
            transition: .3s;
            height: 100vh;
            background-color: black;
            flex-direction: column-reverse;
            width: 20rem;
            align-items: flex-start;
            justify-content: flex-end;
        }

        &List {
            position: relative;
            gap: 0;
            flex-direction: column;
            width: 100%;

            li {
                width: 100%;
                border-top: 0.05rem solid rgba(255, 255, 255, 0.15);

                &::before {
                    display: none;
                }

                a {
                    width: 100%;
                    padding: 1.5rem 2rem;
                }
            }
        }

        &End {
            width: 100%;
            background-color: rgba(128, 128, 128, 0.223);
            display: flex;
            justify-content: center;
            height: fit-content;
        }
    }

    .un_header {
        &Wrapper {
            h1 {
                width: 100%;
            }

            p {
                width: 80%;
            }
        }
    }

    .un_start {
        &Char {
            display: none;
        }

        &Steps {
            ul {
                width: 100%;
            }
        }
    }

    .un_features {
        &List {
            flex-wrap: wrap;

            &-video {
                position: relative;
                top: 0;
                width: 100%;

                div:nth-child(1) {
                    height: 15rem;
                }

                div:nth-child(2) {
                    padding: 2rem;
                }
            }

            &-row {
                width: 100%;
            }
        }
        
       
    }
}